
<nav class="navbar navbar-dark bg-dark">
    
    
    <div class="form-inline">
      <a class="navbar-brand" href="#">Naukri.com</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <div class="form-inline">
        <li class="nav-item "  style="margin-left: 10px;">
          <a class="nav-link" href="#">Jobs </a>
        </li>
        <li class="nav-item" style="margin-left: 20px;">
          <a class="nav-link" href="#"> Recruiters</a>
        </li>
        <li class="nav-item" style="margin-left: 20px;">
          <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Compnies</a>
        </li>
        <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Tools</a>
        </li>
            <li class="nav-item" style="margin-left: 20px;">
                <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Services</a>
              </li>
              <li class="nav-item" style="margin-left: 20px;">
                <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">More</a>
              </li>
          </div>

      </ul>
      
    </div>
  </nav>

<router-outlet></router-outlet>